/* 
https://www.marketo.com/ebooks/building-effective-landing-pages/
link da rifare
*/

body {
    margin: 0 0;
    font-family: adobe-clean,Helvetica,Arial,sans-serif;
}

.top_bar {
    padding: 1.8rem;
    background-color: white;
    display: flex;
    font-weight: bold;
    text-align: center;
}

.box {
    display: inline-block;
}

.adobe {
    color: red;
    border-right: 1px solid black;
    padding: 0 2rem 0;
    font-size: 1.2rem;
}

.marketo {
    padding-left: 2rem;
    font-size: 1.2rem;
}

.div_elenco01 {
    flex: 1;
    font-size: 0.9rem;
}

.elenco01 {
    text-decoration: none;
    color: gray;
    padding: 1rem;
}

.link_view {
    background-color: #4c50cc;
    color: white;
    padding: 0.5rem;
    border: 0px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 0.9rem;
}

.link_sign {
    padding: 0 2rem 0;
    font-size: 0.9rem;
}

#title {
    background-image: linear-gradient(to bottom right,#15124b 2%,#4c50cc 60%);
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.text {
    padding: 0 0 0 3rem;
    text-decoration: none;
    font-weight: bold;
}

.text01 {
    color: gray;
    position: relative;
    top: 3rem;
}

.text02 {
    color: white;
    font-size: 3rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.section_sx {
    display: inline-block;
    width: 10rem;
    padding-top: 2.5rem;
}

.section_sx > p {
    color: #4c50cc;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left: 5rem;
    height: 3rem;
    width: 3rem;
    background:  #4c50cc;opacity: 0.1;
    border: 0px;
    border-radius: 50%;
}

.section_center {
    display: inline-block;
    background: white;
    flex: 1;
    padding: 5rem 5rem 0 0;
    font-size: 1.2rem;
}

.section_dx {
    display: inline-block;
    background: gray;opacity: 0.1;
    color: red;
    width: 20rem;
    height: 100rem;
}

.foot {
    background: linear-gradient(to right, #4c50cc 0,#7ac7eb 100%);
    height: 15rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last {
    font-size: 1.8rem;
    display: inline-block
}

.link_demo {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
}