/* 
è possibile importare nel file CSS un link esterno di un foglio di stile nel seguente modo:
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous');
*/

body{
    background: black;
    color:green;
    text-align:center;
}
h2{
    color: #00bfff;
}
p, div{
    padding: 5px;
    border: 2px solid white;
}
div{
    margin-bottom: 10px;
}